<!DOCTYPE HTML>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title th:text="${title}"></title>
        <link rel="shortcut icon" href="dynamic/icon.png" type="image/png">  
        <link rel="stylesheet" href="css/style.css" />
        <script type="text/javascript" src="js/app.js" ></script>
</head>
<body  >

<div class="header">
   
    <img src="/dynamic/logo.png" alt="MultiPay" width="170" height="110" /><div  th:utext="${leadtext}" th:remove="tag"></div>
    
</div>
<div class="alert" id="alert">
  <span class="closebtn" id='closebtn' onclick="this.parentElement.style.display='none';">&times;</span>
  <p id="alert-msg"></p>
</div>
<div class="row">

    <div class="col-2 menu">
      <ul th:each="tile: ${tiles}">
        <li th:text=${tile}></li>
      </ul>
    </div>

    <div class="col-5" >
        <form name="formX"  id="formX" >
        <div class="detailsPanel">
            <input  type="text" name="linkIp" placeholder="LINK IP" id="linkIp"  /> <input  type="text" name="linkPort" placeholder="LINK PORT" id="linkPort" /><br/>
             <input  type="text" name="terminalIp" placeholder="TERMINAL IP" id="terminalIp" /> <input type="text" name="terminalPort" placeholder="TERMINAL PORT" id="terminalPort"  /><br/>
            <input type="text" name="amount" placeholder="AMOUNT IN PENCE" id="amount"/> <input type="text" name="GTmessage" placeholder="Data for GT" id="GTmessage" /><br/><br/>
             <select id="printFlag" name="printFlag" >
                 <option value="1">PRINT ON ECR</option>
                 <option value="0">PRINT ON PED</option>
             </select>
             <input type="text" name="timeout" placeholder="TIMEOUT IN SEC" id="timeout"/>
       </div>
        
        <div class="buttonsPanel">
            <button type="button" class="buttonX" id="payment">PAYMENT</button>
            <button type="button" class="buttonX" id="reversal">REVERSAL</button>
            <button type="button" class="buttonX" id="refund">REFUND</button>
            <button type="button" class="buttonX" id="reprintReceipt">REPRINT RECEIPT</button>
            <button type="button" class="buttonX" id="pedBalance">PED BALANCE</button>
            <button type="button" class="buttonX" id="endofday">END OF DAY</button>
            <button type="button" class="buttonX" id="firstDll">FIRST DLL</button>
            <button type="button" class="buttonX" id="updateDll">UPDATE DLL</button>
            <button type="button" class="buttonX" id="pedStatus">PED STATUS</button>
            <button type="button" class="buttonX" id="lastTransStatus">LAST TRANS STATUS</button>
            <button type="button" class="buttonZ" id="probePed">PROBE PED</button>

            <div class="startstop">
            <button type="button" class="buttonY color-green" id="start">Start</button>
            <button  class="buttonY" disabled="disabled" id="connstatus">Disconnected</button>
            <button type="button" class="buttonY color-red" id="stop">Stop</button>
            </div>
        </div>
        </form>
    </div>

    <div class="col-3 right" id="boomPanel">
      <div class="aside receiptPanel">
          <div>
          <textarea id="statusMessageField" name="statusMessageField" rows="3" cols="30" ></textarea>
          </div>
          <div>
          <textarea id="receiptMessageField" name="receiptMessageField" rows="30" cols="30" ></textarea>
          </div>
          <div class="startstop">
          <button class="print" id='print'>Print</button>
          </div>
          
      </div>
</div>

</div>
    
<div class="footer">
  <p>pranavkapoorr Inc.</p>
</div>

</body>
</html>


